$TTL 300

@       IN      SOA     infra.devops.internal. admin.devops.internal. (
                        2026092101
                        3600
                        900
                        604800
                        300
)

        IN      NS      infra.devops.internal.

infra       IN      A       10.50.0.1
cp          IN      A       10.50.0.10
worker1     IN      A       10.50.0.11
worker2     IN      A       10.50.0.12
