@       IN      SOA     infra-01.devops.internal. admin.devops.internal. (
                        2026092201
                        3600
                        900
                        604800
                        300 )

        IN      NS      infra-01.devops.internal.

infra-01        IN      A       10.50.0.1
k8s-cp-01       IN      A       10.50.0.10
k8s-worker-01   IN      A       10.50.0.11
k8s-worker-02   IN      A       10.50.0.12

infra           IN      CNAME   infra-01
cp              IN      CNAME   k8s-cp-01
worker1         IN      CNAME   k8s-worker-01
worker2         IN      CNAME   k8s-worker-02
