$TTL 300

@       IN      SOA     infra.devops.internal. admin.devops.internal. (
                        2026092001
                        3600
                        900
                        604800
                        300
)

        IN      NS      infra.devops.internal.

infra   IN      A       10.50.0.1
cp      IN      A       10.50.0.10
