[Interface]
Address = {{ wg_ip }}/24
PrivateKey = {{ wg_private_key.content | b64decode | trim }}

{% if inventory_hostname in groups['infra'] %}
ListenPort = 51820

{% for node in groups['k8s_cluster'] %}
[Peer]
# {{ node }}
PublicKey = {{ hostvars[node]['wg_public_key'].content | b64decode | trim }}
AllowedIPs = {{ hostvars[node]['wg_ip'] }}/32

{% endfor %}
[Peer]
# Laptop
PublicKey = {{ laptop_wg_public_key }}
AllowedIPs = 10.50.0.100/32

{% elif inventory_hostname in groups['k8s_cluster'] %}
[Peer]
# infra-01 - WireGuard Hub
PublicKey = {{ hostvars['infra-01']['wg_public_key'].content | b64decode | trim }}
Endpoint = {{ infra_public_ip }}:51820
AllowedIPs = 10.50.0.0/24
PersistentKeepalive = 25
{% endif %}
